@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.AccountLoginVM
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Logga in</h1>
<form asp-controller="Account" asp-action="Login">
    <label asp-for="UserName">Användarnamn</label>
    <input id="InputBoxColor" asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br />
    <label asp-for="Password">Lösenord</label>
    <input id="InputBoxColor" asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <input id="ButtonTextColor" type="submit" value="Logga in" />
</form>
<a href="~/Account/Register">Registrera ny användare</a>