@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.DictionaryMainVM

@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}

<h1>Ordbok</h1>
Gör dina val av språk och kategori för att hämta en ordlista<br />

<select name="language" id="language">
    <option value="2">Engelska</option>
    <option value="3">Tyska</option>
    <option value="4">Spanska</option>
</select>

<select name="category" id="category">
    <option value="1">Djur</option>
    <option value="2">Fordon</option>
</select>

<input type="button" id="buttonGetDictionary" value="Hämta!" />

<div id="divOutputTable" align="center"></div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<script>
    $(document).ready(function () {

        $('#buttonGetDictionary').click(function () {
            var toLanguageId = $('#language').val();
            var categoryId = $('#category').val();

            $.ajax({
                url: "/Dictionary/GetDictionary",
                type: "GET",
                data: { 'toLanguageId': toLanguageId, 'categoryId': categoryId },
                success: function (returnJson) {
                    var out = "<table border='1'><tr><th>svenska</th><th>annat språk</th></tr>";
                    console.log(returnJson);
                    for (var i = 0; i < returnJson.length; i++) {
                        out += "<tr><td>" + returnJson[i].fromWord + '</td><td>' + returnJson[i].toWord + "</td></tr>"; 
                    }
                    out += "</table>";  

                    console.log(out);
                    
                    $("#divOutputTable").html(out);
                }
            });
        });
    });
</script>