@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.DictionaryMainVM

@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}

<h1>Ordbok</h1>
Gör dina val av språk och kategori för att hämta en ordlista<br />

<select name="language" class="layoutdict" id="fromLanguageSelection">
    <option value="1">Svenska</option>
    <option value="2">Engelska</option>
    <option value="3">Tyska</option>
    <option value="4">Spanska</option>
</select>

<select name="language" class="layoutdict" id="toLanguageSelection">
    <option value="1">Svenska</option>
    <option value="2">Engelska</option>
    <option value="3">Tyska</option>
    <option value="4">Spanska</option>
</select>

<select name="category" class="layoutdict" id="category">
    <option value="1">Djur</option>
    <option value="2">Fordon</option>
</select>

<input type="button" class="dictbtn" id="buttonGetDictionary" value="Hämta!" />

<div id="divOutputTable" align="center"></div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<script>
    $(document).ready(function () {

        $('#buttonGetDictionary').click(function () {
            var fromLanguageId = $('#fromLanguageSelection').val();
            var fromLanguageString = $('#fromLanguageSelection').find(":selected").text();
            //console.log(fromLanguageString);
            var toLanguageId = $('#toLanguageSelection').val();
            var toLanguageString = $('#toLanguageSelection').find(":selected").text();
            var categoryId = $('#category').val();

            $.ajax({
                url: "/Dictionary/GetDictionary",
                type: "GET",
                data: { 'fromLanguageId': fromLanguageId, 'toLanguageId': toLanguageId, 'categoryId': categoryId },
                success: function (returnJson) {
                    var out = "<table border='1'><tr><th>" + fromLanguageString + "</th><th>" + toLanguageString + "</th></tr>";
                    //console.log(returnJson);
                    for (var i = 0; i < returnJson.length; i++) {
                        out += "<tr><td>" + returnJson[i].fromWord + '</td><td>' + returnJson[i].toWord + "</td></tr>"; 
                    }
                    out += "</table>";  

                    console.log(out);
                    
                    $("#divOutputTable").html(out);
                }
            });
        });
    });
</script>