@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.DictionaryMainVM

@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}

<h1>Ordbok</h1>
Här bygger vi en view för ordboken<br />

<select name="language" id="language">
    <option value="2">Engelska</option>
    <option value="3">Tyska</option>
    <option value="4">Spanska</option>
</select>

<select name="category" id="category">
    <option value="1">Djur</option>
    <option value="2">Fordon</option>
</select>

<input type="button" id="buttonGetDictionary" value="Hämta!" />

<div id="outputTableDiv">
    @*Här injectas tabellen!*@
</div>

    @*@foreach (var item in Model.DictionaryWords)
        {
            <tr><td>@item.FromWord</td><td>@item.ToWord</td></tr>
        }*@

@*<div id="testDiv"></div>*@


<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


<script>
    $(document).ready(function () {

        $('#buttonGetDictionary').click(function () {
            var toLanguageId = $('#language').val();
            var categoryId = $('#category').val();

            $.ajax({
                url: "/Dictionary/GetDictionary",
                type: "GET",
                data: { 'toLanguageId': toLanguageId, 'categoryId': categoryId },
                success: function (returnJson) {
                    var out = "<table border='1'><th><td>Ord på svenska</td><td>Ord på annat språk</td></th></table>";
                    console.log(returnJson);
                    for (var i = 0; i < returnJson.length; i++) {
                        out += "<tr><td>" + returnJson[i].fromWord + '</td><td>' + returnJson[i].toWord + "</td></tr>"; 
                    }
                    out += "";

                    console.log(out);
                    
                    $("#outputTableDiv").html(out);
                }
            });
        });
    });
</script>