@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Test</h1>
Här hittar du test!<br />
<br />
Vad betyder (ordet från databasen) ?<br />
<form>
    <input type="text" id="answer"/>
    <input type="button" value="Nästa" />
</form>
