@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Welcome to Vocable Helper!</h1>
Probably the greatest vocable helper on the world wide web.<br />
<br />
Common / popular / latest quizzes.