@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h2>Välkommen till Vocable Helper, din gloshjälp på nätet!</h2>
Troligtvis den bästa gloshjälpen du kan hitta online.<br />
<br />

<h3>Med Vocable Helper kan du..</h3>

    <li class="lihome">Öva på dina glosor</li>
    <li class="lihome">Pröva dina kunskaper i Quiz</li>
    <li class="lihome">Logga in och lär dig glosor med hjälp av ordboken</li>






