@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h2>Välkommen till Vocable helper, din gloshjälp på nätet!</h2>
Troligtvis den bästa gloshjälpen du kan hitta online.<br />
<br />

Blandat / Populära / Senaste quizzes.