@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h2>Om oss</h2>
Vocable Helper är byggt av Grupp 8 från Academys kurs i C#.Net, VT-2017.<br />
<br />
Grupp 8 består av:<br />
Jörgen Eliasson<br />
Niklas Redgert<br />
Magnus Åkerblom<br />
Mats Åström<br />
<br />
Vocable Helper är troligtvis den bästa gloshjälpen du kan hitta online.<br />
<br />
