@using VocableMVC.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    @*<div id="menuHeader"><font size:"small"><a href="../Home/Index">[HEM]</a>&nbsp;<a href="../Quiz/Start">[QUIZ]</a>&nbsp;<a href="../Test/Start">[TEST]</a>&nbsp;<a href="~/Account/Login">[LOGGA IN]</a></font></div>*@
    <header>


                <div id="navigation">
                    <div class="arrows">
                        <span class="ar-left"></span>
                        <span class="ar-right"></span>
                        <span class="ar-left2"></span>
                        <span class="ar-right2"></span>
                    </div>
                    <div class="dark-color">
                        <div class="light-color">
                            <a href="#" id="logo">Vocable Helper*</a>
                            <nav>
                                <ul>
                                    <li><a href="../Home/Index" class="active-menu">Hem</a></li>
                                    <li><a href="../Quiz/Start">Quiz</a></li>
                                    <li><a href="../Test/Start">Test</a></li>
                                    <li><a href="~/Account/Login">Logga in</a></li>
                                    <li><a href="#">Om oss</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>




    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
