@using VocableMVC.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


    <header>
        <div id="navigation">
            <div class="arrows">
                <span class="ar-left"></span>
                <span class="ar-right"></span>
                <span class="ar-left2"></span>
                <span class="ar-right2"></span>
            </div>
            <div class="dark-color">
                <div class="light-color">
                    <a href="#" id="logo" style="font-family: 'Segoe Print'">Vocable Helper</a>

                    <div class="hamb"><span class="spanf"><i></i></span><span class="spans"><i></i></span><span class="spant"><i></i></span></div>
                    <nav>
                        <ul class="main-menu" style="font-family: 'Segoe Print'">
                            <li><a href="../Home/Index" @*class= "active-menu"*@>Hem</a></li>
                            <li><a href="../Quiz/Start">Quiz</a></li>
                            @*<li><a href="../Test/Start">Test</a></li>*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="~/Account/Logout">Logga ut</a></li>
                            }
                            else
                            {
                             <li><a href="~/Account/Login">Logga in</a></li>
                            }
                            <li><a href="#">Om oss</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="MainContainer">
        <div id="Mainbody" style="font-family: 'Segoe Print'">
            @RenderBody()
        </div>
    </div>
    <div id="footer" class="modal-footer">
        <div class="container">
            <div class="col-md-12">
                <center>
                    <br>
                    <h4 class="footertext">Vocable Helper</h4>
                    <p class="footertext">att försöka få tag i oss är lönlöst...<br>
                </center>
            </div>
        </div>
        <div class="row">
            <p><center><a href="#">info@vocables.se</a> <p class="footertext"></p></center></p>
        </div>
    </div>
    <script>
        $(function () {
            // Denna tar hela urlen från adressfältet
            var url = window.location.href;

            // skickar vidare a taggen
            $(".main-menu a").each(function () {
                // kollar om det är samma som i adressfältet
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                }
            });
        });
    </script>
    <script>
        $(function () {
            // Denna tar hela urlen från adressfältet
            var url = window.location.href;

            // skickar vidare a taggen
            $(".active").each(function () {
                // kollar om det är samma som i adressfältet
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active2");
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".hamb").click(function () {
                $("nav").toggleClass("active2");
                $(".spanf ").toggleClass("span1 ");
                $(".spans ").toggleClass("span2 ");
                $(".spant ").toggleClass("span3 ");
            });
        });
    </script>
    
</body>
</html>
