<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="menuHeader"><font size:"small"><a href="../Home/Index">[HOME]</a>&nbsp;<a href="../Quiz/Quiz">[QUIZ]</a>&nbsp;<a href="../Test/Test">[TEST]</a>&nbsp;<a href="~/Account/Login">[SIGN IN]</a>&nbsp;<a href="~/Account/Register">[REGISTER]</a></font></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
