@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Quiz</h1>
Det här är övningsläget.<br />
<br />
Vad betyder (ordet från databasen) ?<br />
<form>
    <input type="radio" name="answer" value="a" /> A: (alternativ)<br />
    <input type="radio" name="answer" value="b" /> B: (alternativ)<br />
    <input type="radio" name="answer" value="c" /> C: (alternativ)<br />
    <input type="button" value="Nästa" />
</form>
