@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.QuizStartVM
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Quiz</h1>
Det här är övningsläget.<br />
<br />
<p>@Model.Word</p>
<br />

<form>
    <input type="radio" name="answer" value="WordA" /> A: (alternativ)<br />
    <input type="radio" name="answer" value="WordB" /> B: (alternativ)<br />
    <input type="radio" name="answer" value="WordC" /> C: (alternativ)<br />
    <input type="button" value="Nästa" />
</form>
