@addTagHelper *, Microsoft.AspNetCore.Mvc.Taghelpers
@model VocableMVC.Models.ViewModels.QuizStartVM
@{
    ViewBag.Title = "Vocable Helper";
    Layout = "_Layout";
}
<h1>Quiz</h1>
Det här är övningsläget.<br />
<br />
<p>@Model.MasterWord.Word</p>
<br />

<form>
    <input type="radio" name="answer" value="WordA" /> A: @Model.SvarsOrden[0].AWord.Word<br />
    <input type="radio" name="answer" value="WordB" /> B: @Model.SvarsOrden[1].AWord.Word<br />
    <input type="radio" name="answer" value="WordC" /> C: @Model.SvarsOrden[2].AWord.Word<br />
    <input type="button" value="Nästa" />
</form>
